network:
  version: 2
  renderer: "{{ k8s_netplan_renderer }}"
  ethernets:
    {{ k8s_netplan_interface | default(ansible_default_ipv4.interface)}}:
      dhcp4: true
      nameservers:
        search: {{ dns_config.search | default([]) }}
        addresses: {{ dns_config.addresses | default([]) }}
